{% extends 'main/base.html' %}

{% block content %}
 {% include 'main/nav.html'%}
    <div class="container">
        <h1 class="center-align" >Language</h1>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">C++</li>
                <li class="collection-item">Python</li>
                <li class="collection-item">Core Java</li>
            </ul>
        </div>
        <h1 class="center-align" >DataBase</h1>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">MySql</li>
            </ul>
        </div>
        <h1 class="center-align" >Course Work</h1>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Data Structure</li>
                <li class="collection-item">Operating System</li>
                <li class="collection-item">Object-Oriented
                    Programming</li>
            </ul>
        </div>
    </div>

{% endblock %}